.city_search {
    margin-right: -350px;
    margin-top: 20px;
}

.zip_search {
    margin-right: 50px;
    margin-top: 20px;
}

.container {
    width: 900px;
}

.text, #city {
    text-align: center;
    font-family: 'Crimson Text', serif;
}

.info {
    font-size: 22px;
    font-style: italic;
}

.alert {
    font-size: 25px;
    text-transform: uppercase;
}

@keyframes move {
    from {
        right: -100%;
    }
    to {
        right: 0%;
    }
}

#info {
    position: relative;
    animation-name: move;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.diagnosis {
    margin-left: 425px;
    margin-top: -86px;
    width: 200px;
}